/* ----------------- General ----------------- */
* {
    margin: 0;
    padding: 0;
}

/* ----------------- Header ----------------- */
header {
    height: 100px;
    margin-bottom: 145px;
}

/* ----------------- Main ----------------- */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

/* ----------- Form ----------- */
form {
    width: clamp(200px, 85%, 856px);
}

#search_inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#search_bar {
    position: relative;
    width: 100%;
}

#search_inputs input {
    width: 100%;
    height: 50px;
}

#search_bar i {
    position: absolute;
    top: 9px;
    bottom: 0;
    right: 10px;
    margin: auto;
    font-size: xx-large;
}

.advanced_search {
    display: none;
}

.advanced_search_show {
    display: flex;
    flex-direction: column;
    margin: 36px 0 47px;
}

.advanced_search select {
    min-width: 272px;
    height: 50px;
    font-size: 17px;
}

#advanced_search_button_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}

#advanced_search_button_container hr {
    width: 40%;
    height: 1px;
}

#advanced_search_button {
    margin: 43px 0 33px;
}

/* ----------- Store list ----------- */
#stores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

#stores li {
    text-align: center;
    margin-bottom: 55px;
}

#stores a {
    text-decoration: none;
    color: black;
}

#no_results {
    display: none;
    color: red;
}

/* ----------------- Store pages ----------------- */



/* ----------------- Media querys ----------------- */
@media screen and (max-width: 425px) {
    header img {
        width: 100%;
    }
}